<h1>Olá, <%= @departamento.nome %></h1>
  <p>
    Recebemos uma solicitação de alteração de senha em sua conta do 4R.
    <br>
    Para resetar sua senha, click no link abaixo https://fourr.herokuapp.com/senha/reset e insira seu e-mail e token: <%= @departamento.resetar_senha_token %>
    <br>
    Este token vai expirar em 24 horas. Se você não solicitou uma alteração de senha, favor ignorar esta mensagem. Não se preocupe, nenhuma alteração será feita em sua conta.
  </p>
<p>Obrigado!</p>